
    #formcenter{
        position: relative;
        width: 80%;
        text-align: center;
        right: 10%;
    }
    /*
    customizing login page
    */
    
     #login{
        position: relative;
        width: 50%;
        left: 25%;
        margin-top: 2%;
    }
      #regform{
          position: relative;
          width: 60%;
          left: 20%;
      }
      .error{
          color: red;
      }
       #rform{
         width: 56%;
         position: relative;
         text-align: center;
         margin-top: 1%;
         left: 22%;
         border-radius: 2%;
       
    }